.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-text {
  position: auto;
  color: rgb(201, 23, 14);
  font-size: 3rem;
  text-align: center;
}